  #header {
      margin-left: 5%;
      margin-right: 5%;
      padding: 15px;
      text-align: center;
  }
  
  #map {
      margin-left: 20%;
      margin-right: 30%;
      padding: 5px;
  }
  
  svg {
      margin-top: 2%;
  }
  
  body {
      background-color: yellow;
  }